/**
  Default style for nav menu
*/
.glossymm-navbar-nav-default .glossymm-navbar-nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
}

.glossymm-navbar-nav-default .glossymm-navbar-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-left: 0;
}

.glossymm-navbar-nav-default .glossymm-navbar-nav>li {
  position: relative;
}

.glossymm-menu-wrapper li,
.glossymm-menu-wrapper ul {
  margin: 0;
  padding: 0;
}

.glossymm-menu-hamburger {
  display: none;
}

.glossymm-nav-identity-panel {
  display: none;
}

.glossymm-dropdown {
  display: none;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.glossymm-dropdown li {
  list-style: none;
}

a.glossymm-menu-nav-link.menu-link {
  display: flex;
  gap: 5px;
}

.e-font-icon-svg {
  width: 15px;
}

.glossymm-navbar-nav-default .glossymm-megamenu-panel {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  margin-left: 0;
  position: absolute;
  background-color: white;
  left: 0;
  top: 50px;
  display: block;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  -webkit-transition: transform .4s ease;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
  z-index: 999;
}

.glossymm-nav-dropdown-hover .glossymm-dropdown-has:hover .glossymm-megamenu-panel {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  pointer-events: auto;
}

/* Submenu Item dropdown */
ul.glossymm-dropdown.glossymm-submenu-panel {
  position: absolute;
  top: 50px;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  z-index: 999;
}

.glossymm-nav-dropdown-hover .glossymm-dropdown-has:hover .glossymm-dropdown {
  display: block;
}

.glossymm-navbar-nav>li>a {
  padding: 0 15px;
}

.glossymm-megamenu-panel.full_width {
  width: 100vw;
}

.glossymm-megamenu-panel.showmenu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  pointer-events: auto;
}

ul.glossymm-dropdown.glossymm-submenu-panel.showmenu {
  display: block;
}

.glossymm-megamenu-panel.default_width {
  width: 750px;
}

/* Responsive Menu Design */
.glossymm-menu-container.glossymm-megamenu-offcanvas {  
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
  box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 50px;
  padding-left: 0;
  padding-right: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-transition: left .6s cubic-bezier(.6, .1, .68, .53);
  transition: left .6s cubic-bezier(.6, .1, .68, .53);
}
.glossymm-menu-container.glossymm-megamenu-offcanvas.show{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.glossymm-nav-identity-panel {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  justify-content: space-between;
  width: 100%;
}

.glossymm-menu-hamburger .glossymm-menu-hamburger-icon {
  background-color: rgba(0, 0, 0, .5)
}

.glossymm-menu-hamburger {
  padding: 8px;
  background-color: transparent;
  border-radius: .25rem;
  position: relative;
  z-index: 10;
  cursor: pointer;
  width: 45px;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in
}

.glossymm-menu-hamburger .glossymm-menu-hamburger-icon {
  height: 1px;
  width: 100%;
  display: block;
  margin-bottom: 4px
}

.glossymm-menu-hamburger .glossymm-menu-hamburger-icon:last-child {
  margin-bottom: 0
}

